@model CyrusCustomer.Domain.Models.Customer

@{
    ViewData["Title"] = "Customer Details";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            CountOfBranches
        </dt>
        <dd class="col-sm-10">
            @Model.CountOfBranches
        </dd>
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Phone
        </dt>
        <dd class="col-sm-10">
            @Model.Phone
        </dd>
        <dt class="col-sm-2">
            Version Updated
        </dt>
        <dd class="col-sm-10">
            @Model.ResponsiblePerson
        </dd>
        <dt class="col-sm-2">
            User Updated
        </dt>
        <dd class="col-sm-10">
            @Model.UserUpdated
        </dd>
        <dt class="col-sm-2">
            Contractor
        </dt>
        <dd class="col-sm-10">
            @Model.Contractor
        </dd>
        <dt class="col-sm-2">
            Update Date
        </dt>
        <dd class="col-sm-10">
            @Model.UpdateDate
        </dd>
        <dt class="col-sm-2">
            Notes
        </dt>
        <dd class="col-sm-10">
            @Model.Notes
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>